<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @tournament.date %>
</p>

<% if @tournament.fencers.blank? %>
  There are no fencers registered for this tournament...
<% else %>
  <% @tournament.participations.each do |part| %>
    <p><%= part.fencer.name %> <%= link_to 'Remove', part, method: :delete %></p>
  <% end %>
<% end %>

<hr>

<%= simple_form_for [ @tournament, @participation ] do |f| %>
  <%= f.association :fencer %>
  <%= f.button :submit %>
<% end %>

<hr>

<% if @tournament.participations.count >= 5 %>
  <p>Start tournament</p>
  <%= link_to 'Create Poules', start_path(@tournament) %>
<% else %>
  <p>Not enought fencers to start...</p>
<% end %>

<hr>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
